.env
.vscode/
..bfg-report/
static/FriedEgg.glb/
__pycache__/
data.txt
static/AmpLanePADEF.traj
static/asdf.gltf
static/CrescendoField.gltf
static/FieldSimon.glb
static/FieldSmallTwo.glb
nesusTesting.py
