.env
.vscode/
.venv/
..bfg-report/
**/.DS_Store
static/FriedEgg.glb/
__pycache__/
node_modules/
data.txt
static/AmpLanePADEF.traj
static/asdf.gltf
static/CrescendoField.gltf
static/FieldSimon.glb
static/FieldSmallTwo.glb
nesusTesting.py
