<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<div id="thediv">
	<center>
<h4 id="shooter">Shooter</h4>
</center>
<center>
<h4 id="tramp">Tramp</h4>
</center>
<center>
<h4 id="intake">Intake</h4>
</center>
<center>
<h4 id="reset">Reset</h4>
</center>
</div>
<canvas id="c"></canvas>
<script type="importmap">
{
  "imports": {
    "three": "https://threejs.org/build/three.module.js",
    "three/addons/": "https://threejs.org/examples/jsm/"
  }
}
</script>
<style>
	html,
	body {
		margin: 0;
		height: 100%;
	}

	#c {
		width: 100%;
		height: 100%;
		display: block;
	}
	h4{
color: #FFFFFF;
background-color: #404040;
margin: 1rem;
font-family: Poppins;
font-size: 4rem;
border-radius: 5px;

	}
#shooter { grid-area: header; }
#tramp { grid-area: menu; }
#intake { grid-area: main; }
#reset { grid-area: right; }
#thediv{
	display: grid;
  grid-template-areas:
    'header menu main right';
	background-color: #1C1C1C;
}
</style>

<script type="module">
	import * as THREE from 'three';
	import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
	import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';
	const canvas = document.querySelector('#c');
	const renderer = new THREE.WebGLRenderer({ antialias: true, canvas });

	const fov = 45;
	const aspect = 2; // the canvas default
	const near = 0.1;
	const far = 100;
	var camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
	camera.position.set(0, 10, 20);


	const controls = new OrbitControls(camera, canvas);
	// controls.enablePan = false; //paning is bad and dissallowed
	controls.target.set(0, 0, 0);
	controls.update();

	const scene = new THREE.Scene();
	scene.background = new THREE.Color('#1C1C1C');

	// Add ambient light with a lower intensity
const ambientLight = new THREE.AmbientLight(0xffffff, 0.5);
scene.add(ambientLight);

// Add directional light with a higher intensity
const directionalLight = new THREE.DirectionalLight(0xffffff, 20);
directionalLight.position.set(0, 1, 1); // adjust as needed
scene.add(directionalLight);
const direcionalLight = new THREE.DirectionalLight(0xffffff, 20);
directionalLight.position.set(1, 1, 0); // adjust as needed
scene.add(direcionalLight);
const direcionalLiht = new THREE.DirectionalLight(0xffffff, 20);
directionalLight.position.set(-3, 1, 0); // adjust as needed
scene.add(direcionalLiht);

	{

		const loader = new GLTFLoader();
		loader.load('./FriedEgg.glb', function (gltf) {
			scene.scale.set(10, 10, 10)
			scene.position.set(0, -3, -3)
			scene.add(gltf.scene);
		}, undefined, function (error) {
			console.error(error);
		});

	}
	function shooterView() {
		camera.position.set(10, 4, -2);
		controls.target.set(0, 0, -1);
		camera.updateProjectionMatrix();
		controls.update();
	}
	function trampView() {
		camera.position.set(12, 5, 5);
		controls.target.set(0, 3, 3);
		camera.updateProjectionMatrix();
		controls.update();
	}
	function intakeView() {
		camera.position.set(0, 3, 10);
		controls.target.set(0, -2, 2);
		camera.updateProjectionMatrix();
		controls.update();
	}
	function resetView() {
		camera.position.set(0, 10, 20);
		controls.target.set(0, 0, 0);
		camera.fov = 45;
		camera.aspect = canvas.clientWidth / canvas.clientHeight;
		camera.near = 0.1;
		camera.far = 100;
		camera.updateProjectionMatrix();
		controls.update();
		
	}
	function resizeRendererToDisplaySize(renderer) {

		const canvas = renderer.domElement;
		const width = canvas.clientWidth;
		const height = canvas.clientHeight;
		const needResize = canvas.width !== width || canvas.height !== height;
		if (needResize) {

			renderer.setSize(width, height, false);

		}

		return needResize;

	}

	function render() {

		if (resizeRendererToDisplaySize(renderer)) {

			const canvas = renderer.domElement;
			camera.aspect = canvas.clientWidth / canvas.clientHeight;
			camera.updateProjectionMatrix();

		}

		renderer.render(scene, camera);

		requestAnimationFrame(render);

	}

	requestAnimationFrame(render);


	document.getElementById("shooter").addEventListener("click", shooterView);
	document.getElementById("tramp").addEventListener("click", trampView);
	document.getElementById("intake").addEventListener("click", intakeView);
	document.getElementById("reset").addEventListener("click", resetView);
</script>