<script>
    var index = 0
    async function getData() {
        console.log('new photo')
        const response = await fetch("/hensight/getphoto")
        let data = await response.json()
        el = document.getElementById("photos")
        el.classList.remove("fade-in")
        el.classList.add("fade-out")
        setTimeout(function(){
            el.innerHTML = "<img src='"+data[index]+"' alt = '' id='photo'></img>"
            el.classList.remove("fade-out")
            el.classList.add("fade-in")
        }, 1000);
        index++
        if (index >= data.length) index = 0
    }
    getData()
    setInterval(getData, 4000);
</script>

<body>
    <div id="photos" class="fade-in" onclick="window.location.href = '/hensight/menu'">
        
    </div>
</body>

<style>
    body {
        background-color: #1c1c1c;
        border: 7px solid #ffc145;
    }
    #photos {
        overflow-y: auto;
        width: 95%;
        height: 95%;
    }
    #photo {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 95%;
        width: auto;
        transform: translate(-50%, -50%);
    }

    .fade-in {
        /* opacity: 1; */
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .fade-out {
        /* opacity: 1; */
        animation-name: fadeOutOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        /* animation: fadeOutOpacity 1s timing-function delay iteration-count direction fill-mode; */
    }

    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeOutOpacity {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>