<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HENSIGHT!!!!!!</title>
    <style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        animation: fadein 2s forwards; /* Initial fade in */
    }
    @keyframes fadeout {
        from {
            opacity: 1; /* Fully visible */
        }
        to {
            opacity: 0; /* Fully transparent */
        }
    }

    @keyframes fadein {
        from {
            opacity: 0; /* Fully transparent */
        }
        to {
            opacity: 1; /* Fully visible */
        }
    }
    </style>
</head>

<body>
    <div hx-post="/" throttle:1s>
<h1>test1</h1>
    </div>
</body>
<script>
    function fadeEffect() {
        console.log("fade started")
            document.body.style.animation = "fadeout 2s forwards"; // Fade out animation
            setTimeout(function() {
                document.body.style.animation = "fadein 2s forwards"; // Fade in animation

            }, 3000); // Wait for 2 seconds for fade out to complet
        }
        setInterval(fadeEffect, 10000);      
</script>
</html>