<body>
    <div id="buttons">
        <button onclick="window.location.href = '/pulse_rip_off'">Inward-Facing</button>
        <button onclick="window.location.href = '/hensight'">Outward-Facing</button>
    </div>
    
</body>

<style>
    body {
        background-color: #1c1c1c;
        color: #f6b14b;
        border-image: linear-gradient(to bottom right, #f6b14b, #ff4848);
        border: solid 5px;
    }
    #buttons {
        position: absolute;
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    button {
        color: #f6b14b;
        background: none;
        border: solid 5px #f6b14b;
        border-radius: 5px;
        font-size: 50px;
    }
</style>