<!doctype html>
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="/style.css" />
<script src="/common.js"></script>
<script>
    setInterval(getTime, 1000);
    let idle_secconds = 0;
    function incrementSeconds() {
        idle_secconds += 1;
        console.log("idle for:", idle_secconds, "seccond");
        if (idle_secconds >= 40) {
            window.location.replace("/");
        }
    }
    let cancel = setInterval(incrementSeconds, 1000);

    window.addEventListener("touchstart", () => {
        idle_secconds = 0;
        console.log("reset");
    });
</script>
<body class="center-col" onclick="openFullscreen()" onload="getTime()">
    <h1 style="text-align: center">Hensight</h1>
    <div class="flex-row-auto">
        <a href="/"><button>Statistics</button></a>
        <a href="/menu/robot">
            <button>Our Robot</button>
        </a>
        <a href="/menu/soon"><button>Games</button></a>
        <a href="/menu/misc"><button>Misc</button></a>
    </div>
    <h1 style="text-align: center" id="time"></h1>
</body>
