<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>
<head>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"
    rel="stylesheet"
  />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="/style.css" />
<script>
  function getTime() {
    let d = new Date();
    let hours = d.getHours();
    let mins = d.getMinutes();
    let sec = d.getSeconds();
    let h = ("00" + hours).slice(-2);
    let m = ("00" + mins).slice(-2);
    let s = ("00" + sec).slice(-2);
    let time = h + ":" + m + ":" + s;
    document.getElementById("time").innerHTML = time;
  }
  setInterval(getTime, 1000);
  let idle_secconds = 0;
  function incrementSeconds() {
    idle_secconds += 1;
    console.log("idle for:", idle_secconds, "seccond");
    if (idle_secconds >= 40) {
      window.location.replace("/");
    }
  }
  let cancel = setInterval(incrementSeconds, 1000);

  window.addEventListener("touchstart", function () {
    idle_secconds = 0;
    console.log("reset");
  });
</script>
<body
  id="center-col"
  onclick="openFullscreen()"
  onload="getTime()"
>
  <h1 id="title" style="text-align: center">Hensight</h1>
  <div id="quad-grid">
    <button onclick="window.location.href = '/'">Statistics</button>
    <button onclick="window.location.href = '/menu/robot'">Our Robot</button>
    <button onclick="window.location.href = '/menu/soon'">Games</button>
    <button onclick="window.location.href = '/menu/misc'">Misc.</button>
  </div>
  <h1 style="text-align: center" id="time"></h1>
</body>
<style>
  #time,
  #title {
    font-size: 13rem;
  }
</style>
