<!doctype html>
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="/hensight/style.css" />
<script src="/hensight/common.js"></script>
<script>
    setInterval(getTime, 1000);
    let idle_secconds = 0;
    function incrementSeconds() {
        idle_secconds += 1;
        console.log("idle for:", idle_secconds, "seccond");
        if (idle_secconds >= 40) {
            window.location.replace("/hensight");
        }
    }
    let cancel = setInterval(incrementSeconds, 1000);

    window.addEventListener("touchstart", () => {
        idle_secconds = 0;
        console.log("reset");
    });
</script>
<body class="center-col" onclick="openFullscreen()" onload="getTime()">
    <h1 style="text-align: center; font-size: 10rem;">Hensight</h1>
    <a href="/hensight/meanmachine" style="width: 5px; height: 5px;"></a>
    <div class="flex-row-auto">
        <a href="/hensight/hensight"><button>Statistics</button></a>
        <!-- <a href="/hensight/cad"><button>CAD</button></a> -->
        <!-- <a href="/judges"><button>Judges</button></a> -->
        <a href="/hensight/menu/misc"><button>Misc</button></a>
    </div>
    <h1 style="text-align: center; font-size: 10rem;" id="time"></h1>
</body>
