<!doctype html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/common.js"></script>
<link rel="stylesheet" href="/style.css" />
<script>
    function getTime() {
        let d = new Date();
        let hours = d.getHours();
        let mins = d.getMinutes();
        let sec = d.getSeconds();
        let h = ("00" + hours).slice(-2);
        let m = ("00" + mins).slice(-2);
        let s = ("00" + sec).slice(-2);
        let time = h + ":" + m + ":" + s;
        document.getElementById("time").innerHTML = time;
    }
    setInterval(getTime, 1000);
    let idle_secconds = 0;
    function incrementSeconds() {
        idle_secconds += 1;
        console.log("idle for:", idle_secconds, "seccond");
        if (idle_secconds >= 60) {
            window.location.replace("/");
        }
    }
    let cancel = setInterval(incrementSeconds, 1000);

    window.addEventListener("touchstart", () => {
        idle_secconds = 0;
        console.log("reset");
    });
    function admin() {
        let key = document.getElementById("admin-input").value;
        if (key == "1540admindb") {
            window.location.href = "/dashboard";
        } else if (key == "spinnn") {
            window.location.href = "/spin";
        }
    }
    let toggle = false;
    function popup() {
        if (!toggle) {
            $("#popup").removeClass("hidden");
        } else {
            $("#popup").addClass("hidden");
        }
        toggle = !toggle;
    }
</script>
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
/>
<body class="center-col" onclick="openFullscreen()" onload="getTime()">
    <div id="popup" class="hidden">
        <div id="input-wrapper" class="admin-input-wrap">
            <input
                id="admin-input"
                type="text"
                autocomplete="off"
                placeholder="Key..."
            />
        </div>
        <div id="two-button-wrapper">
            <button id="yes" onclick="admin()"><h4>Confirm</h4></button>
            <button id="no" onclick="popup()"><h4>Cancel</h4></button>
        </div>
    </div>
    <h1 id="title" style="text-align: center">Hensight</h1>
    <div class="flex-row-auto">
        <button onclick="window.location.href = '/menu'">Main Menu</button>
        <button onclick="window.location.href = '/reveal'">Reveal Video</button>
        <button onclick="popup()">Admin Key</button>
    </div>
    <h1 style="text-align: center" id="time"></h1>
</body>
<style>
    #input-wrapper.admin-input-wrap {
        max-width: 80%;
        width: max(50%, min(100vw, 300px));
    }

    #title,
    #time {
        font-size: 13rem;
        margin-block: 1rem;
    }
</style>
