<head>
    <script src="/common.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script>
        let idle_secconds = 0;
        function incrementSeconds() {
            idle_secconds += 1;
            console.log("idle for:", idle_secconds, "seccond");
            if (idle_secconds >= 240) {
                window.location.herf("/");
            }
        }
        let cancel = setInterval(incrementSeconds, 1000);

        window.addEventListener("touchstart", () => {
            idle_secconds = 0;
            console.log("reset");
        });
    </script>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet"
    />
</head>
<body onclick="openFullscreen()" class="center-col">
    <!-- for flexbox space-between thingy -->
    <div></div>
    <div class="center-col">
        <iframe
            style="padding: 5rem"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/-noXKy4wT0k?si=8BLse2DhrWD2fRYA"
            frameborder="0"
            allow="encrypted-media; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
        ></iframe>
        <h4 style="text-align: center">
            This is the reveal video for the Flaming Chicken's robot, Fried Egg
            <br />
            Shoutout to our media team for producing this amazing product!
        </h4>
    </div>
    <a href="/menu"><button>Back to Main Menu</button></a>
</body>
