<!doctype html>
<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="/common.js"></script>
    <script>
        setInterval(getTime, 1000);
        let idle_secconds = 0;
        function incrementSeconds() {
            idle_secconds += 1;
            console.log("idle for:", idle_secconds, "seccond");
            if (idle_secconds >= 30) {
                window.location.replace("/");
            }
        }
        let cancel = setInterval(incrementSeconds, 1000);

        window.addEventListener("touchstart", () => {
            idle_secconds = 0;
            console.log("reset");
        });
    </script>
</head>
<body onclick="openFullscreen()" onload="getTime()" class="center-col">
    <h1 style="text-align: center">Hensight</h1>
    <div id="quad-grid">
        <a href="/menu"><button>Main Menu</button></a>
        <a href="/cad"><button>CAD</button></a>
        <a href="/autos2"><button>Autos (3D)</button></a>
        <a href="/autos"><button>Autos (2D)</button></a>
    </div>
    <h1 style="text-align: center" id="time"></h1>
</body>
