html,
body {
  margin: 0;
}

* {
  font-family: Poppins;
}

:root {
  /* vars */
  --round: 0.5rem;
  --big-round: 1rem;
  --blur-radius: 10px;
  --gap: 2rem;
}

h1 {
  color: #ffc145;
}

body {
  background-color: #1c1c1c;
  padding: 0.5rem;
  border: none !important;
  animation: fadein 1s forwards;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  inset: 0;
  background-color: transparent;
  border: 0.5rem solid #ffc145;
}

#btn {
  border-image: linear-gradient(to bottom right, #f6b14b, #ff4848) 30;
  border-width: 6px;
  border-style: solid;
  padding: 3rem;
  width: 60%;
  color: #ffffff;
  font-family: Poppins;
  font-size: 3rem;
  border-radius: var(--round);
}

button#return-main {
  background-color: transparent;
  border-image: linear-gradient(to bottom right, #f6b14b, #ff4848) 30;
  border-width: 6px;
  border-style: solid;
  padding: 3rem;
  width: 60%;
  color: #ffffff;
  font-family: Poppins;
  font-size: 3rem;
  border-radius: var(--round);
}

#loading {
  position: absolute;
  top: 40%;
  right: 30%;
  margin: auto;
  border: 30px solid #ffc145;
  border-radius: 50%;
  border-top: 30px solid #1c1c1c;
  width: 300px;
  height: 300px;
  animation: spinner 2s linear infinite;
  z-index: 2;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#spin {
  animation: rotation 2s infinite linear;
}

.hide,
.fadeOut {
  animation: fadeOut 1s forwards;
}

.show,
.fadeIn {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.blur {
  backdrop-filter: blur(10px);
}

button {
  position: relative;
  background-color: #1c1c1c;
  color: #ffffff;
  border: none;
  text-align: center;
  padding: 1rem;
  font-size: 5rem;
  border-radius: var(--round);
}

button::before {
  content: "";
  position: absolute;
  inset: -6px;
  z-index: -1;
  border-radius: inherit;
  background-image: linear-gradient(to bottom right, #f6b14b, #ff4848);
}

input {
  background-color: #1c1c1c;
  color: #ffffff;
  border-image: linear-gradient(to bottom right, #f6b14b, #ff4848) 30;
  border-width: var(--round);
  border-style: solid;
  border-radius: 5%;
  font-size: 5rem;
}

#quad-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-gap: var(--gap);
  width: clamp(800px, 75%, 1200px);
  aspect-ratio: 1.5;
}

#center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#popup {
  position: fixed;
  inset: 0;
  background: transparent;
  backdrop-filter: blur(var(--blur-radius));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.hidden {
  display: none !important;
  z-index: -999 !important;
}

#two-button-wrapper {
  gap: var(--gap);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button#no {
  background-color: #ff0800;
}

button#yes {
  background-color: #12b31d;
}
