html,
body {
  margin: 0;
}

* {
  font-family: Poppins;
}

:root {
  /* vars */
  --round: 0.5rem;
  --big-round: 1rem;
  --blur-radius: 10px;
  --gap: 2rem;
}

h1,
h2,
h3 {
  color: #ffc145;
  margin-block: 0.5rem;
}

h4,
h5,
h6 {
  color: white;
  margin-block: 0.25rem;
}

h1 {
  font-size: 20rem;
}
h2 {
  font-size: 11rem;
}
h3 {
  font-size: 11rem;
}
h4 {
  font-size: 4rem;
}
h5 {
  font-size: 3rem;
}
h6 {
  font-size: 3rem;
}

body {
  background-color: #1c1c1c;
  padding: var(--gap);
  border: none !important;
  animation: fadein 1s forwards;
  min-height: calc(100vh - 2 * var(--gap));
}

body::before {
  content: "";
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  inset: 0;
  background-color: transparent;
  border: 0.5rem solid #ffc145;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#spin {
  animation: rotation 2s infinite linear;
}

.hide,
.fadeOut {
  animation: fadeOut 1s forwards;
}

.show,
.fadeIn {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

a > button {
  width: 100%;
  height: 100%;
}

button {
  position: relative;
  background-color: #1c1c1c;
  color: #ffffff;
  border: none;
  text-align: center;
  padding: 1rem;
  font-size: 5rem;
  border-radius: var(--round);
  text-decoration: none;
}

input {
  background-color: #1c1c1c;
  color: #ffffff;
  border: none;
  font-size: 5rem;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

#input-wrapper {
  position: relative;
  border-radius: var(--round);
  background-color: transparent;
  border: none !important;
}

button::before,
#input-wrapper::before {
  content: "";
  position: absolute;
  inset: -6px;
  z-index: -1;
  border-radius: inherit;
  background-image: linear-gradient(to bottom right, #f6b14b, #ff4848);
}

.flex-row-auto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap);
}

.center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}

#popup {
  position: fixed;
  inset: 0;
  background: transparent;
  backdrop-filter: blur(var(--blur-radius));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  z-index: 999;
}

.hidden {
  display: none !important;
  z-index: -999 !important;
}

#two-button-wrapper {
  gap: var(--gap);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button#no {
  background-color: #ff0800;
}

button#yes {
  background-color: #12b31d;
}

#time,
#title {
  font-size: 13rem;
}

.flex-center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

a:has(> button) {
  width: fit-content;
  height: fit-content;
}

.pulse-sidebar {
  height: inherit;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap);
}
