<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/common.js"></script>
    <script>
        let toggle = true;
        function clickme() {
            if (toggle == true) {
                toggle = !toggle;
                $(".popup").removeClass("hide");
                $(".popup").addClass("show");
                console.log("added show");
            } else {
                toggle = !toggle;
                $(".popup").removeClass("show");
                $(".popup").addClass("hide");
                console.log("added hide");
            }
        }
    </script>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <script
            src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"
        ></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>the things are being tested</title>
        <style>
            .marquee {
                width: calc(100vw - 20px);
                height: 100vh;
            }
            #msg {
                color: #262626;
                font-size: 4rem;
                position: absolute;
                top: 50%;
                left: 10%;
                z-index: -1;
            }
        </style>
    </head>
    <body onclick="clickme(), openFullscreen()" class="center-col">
        <center>
            <h6 class="popup">Click me!</h6>
        </center>
        <div id="theseconddiv">
            <center>
                <h6 id="slides">Slides</h6>
            </center>
            <center>
                <h6 id="cad">Cad</h6>
            </center>
            <center>
                <h6 id="reveal">Robot Reveal</h6>
            </center>
        </div>
    </body>

    <script src="https://unpkg.com/hyperscript"></script>
</html>
