@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */
/* @plugin '@tailwindcss/typography'; */

:root {
	--black: #1c1c1c;
	--grey: #3c3c3c;
	--white: #fbfbfb;
	--light-grey: #ddd;
	--red: #ee2c2c;
	--yellow: #ffb347;
	--blue: #34adfe;
}
h1 {
	color: var(--white);
	font-weight: 700;
}
h2 {
	color: var(--yellow);
}
h3 {
	color: var(--red);
}

* {
	font-family: Poppins;
	font-weight: 500;
}

/* @media (prefers-color-scheme: dark) { */
body {
	background-color: var(--black);
	color: var(--white);
}
/* } */

/* @media (prefers-color-scheme: light) {
  body {
    background-color: var(--white);
    color: var(--black);
  }
} */
