@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@500;700;800&display=swap');
@import "tailwindcss";

@theme {
  --spacing: 1rem;
}

:root {
  --color-black: #1c1c1c;
  --color-grey: #3c3c3c;
  --color-white: #fbfbfb;
  --color-light-grey: #a7a7a7;
  --color-red: #ee2c2c;
  --color-yellow: #ffb347;
  --color-blue: #6495ED;
  --color-green: #50C878;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 500;
}